@use '../../theme/src/mixins/bem' as *;

@include b(popup) {
  position: fixed;
  max-width: 100%;
  max-height: 100%;

  @include m(center) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include m(bottom) {
    left: 0;
    right: 0;
    bottom: 0;

    @include when(round) {
      @include e(panel) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  @include m(top) {
    left: 0;
    right: 0;
    top: 0;

    @include when(round) {
      @include e(panel) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  @include m(left) {
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;

    @include when(round) {
      @include e(panel) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  @include m(right) {
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;

    @include when(round) {
      @include e(panel) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  @include e(panel) {
    background: var(--lk-color-bg-surface);
    color: var(--lk-color-text);
    box-shadow: var(--lk-shadow-base);
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0; // 默认不圆角，由 is-round 控制

    :global(.lk-popup.is-round) & {
      border-radius: var(--lk-radius-lg);
    }
  }

  @include e(safe) {
    height: env(safe-area-inset-bottom);
  }
}
