@use '../../theme/src/mixins' as *;

@include b(grid) {
  display: grid;
  width: 100%;
  grid-auto-rows: 1fr;
  // text-align: center;

  @include e(item) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: juctify;
    padding: var(--lk-spacing-sm);
    transition: background var(--lk-transition-fast);
    overflow: hidden;
    
    // 使用中性点击叠加色
    &:active {
      background: var(--lk-bg-active);
    }
  }

  @include e(item-text) {
    font-size: var(--lk-font-size-sm);
    color: var(--lk-color-text-main);
    line-height: 1.5;
  }
}
