@use '../../theme/src/mixins/bem' as *;

@include b(rate) {
  display: inline-flex;
  align-items: center;
  gap: var(--lk-spacing-xs); /* 星之间的间距 */

  @include when(disabled) {
    opacity: 0.5;
    pointer-events: none;
  }

  @include when(readonly) {
    pointer-events: none;
  }

  @include e(item) {
    cursor: pointer;
    line-height: 1;
  }
}
