@use '../../theme/src/mixins/bem' as *;

@include b(vc) {
  position: relative;

  @include e(input) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
  }

  @include e(boxes) {
    display: flex;
    gap: var(--lk-spacing-xs);
  }

  @include e(box) {
    width: 84rpx;
    height: 84rpx;
    border: 2rpx solid var(--lk-color-border);
    border-radius: var(--lk-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36rpx;
  }
}
