@use '../../theme/src/mixins' as *;

@include b(icon) {
  font-family: 'lk-icons' !important;
  font-style: normal;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 缁ф壙鐖跺鍣ㄩ鑹诧紙濡傛寜閽€佸垪琛ㄧ瓑锛夛紝淇濊瘉鍦ㄦ湁鑳屾櫙鑹茬殑瀹瑰櫒鍐呰嚜鍔ㄥ尮閰?*/
  /* 濡傛灉鐢ㄦ埛浼犱簡 color prop锛屼細閫氳繃鍐呰仈鏍峰紡瑕嗙洊 */
  color: inherit;
}
