@use '../../theme/src/mixins' as *;

@include b(icon) {
  font-family: 'lk-icons' !important;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 默认跟随文字颜色，自动适配暗黑模式 */
  /* 如果用户传了 color prop，会通过内联样式覆盖 */
  color: var(--lk-text-primary);
}
