@use '../../theme/src/mixins' as *;

@include b(icon) {
  font-family: 'lk-icons' !important;
  font-style: normal;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 继承父容器颜色（如按钮、列表等），保证在有背景色的容器内自动匹配 */
  /* 如果用户传了 color prop，会通过内联样式覆盖 */
  color: inherit;
}
