@use '../../theme/src/mixins' as *;

@include b(icon) {
  font-family: 'lk-icons' !important;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--lk-icon-color);
}
