@use '../../theme/src/mixins/bem' as *;

@include b(tag) {
  --_fs: var(--lk-rpx-24);
  --_px: var(--lk-rpx-20);
  --_py: var(--lk-rpx-8);
  --_radius: var(--lk-radius-full);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--_fs);
  padding: var(--_py) var(--_px);
  line-height: 1.4;
  border-radius: var(--_radius);
  user-select: none;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;

  // 默认使用中性填充色背景
  background: var(--lk-fill-1);
  color: var(--lk-text-regular);
  transition: all var(--lk-transition-fast);

  @include m(sm) {
    --_fs: var(--lk-rpx-22);
    --_px: var(--lk-rpx-12);
    --_py: var(--lk-rpx-4);
  }
  @include m(md) {
    --_fs: var(--lk-rpx-26);
    --_px: var(--lk-rpx-20);
    --_py: var(--lk-rpx-12);
  }
  @include m(lg) {
    --_fs: var(--lk-rpx-28);
    --_px: var(--lk-rpx-36);
    --_py: var(--lk-rpx-20);
  }

  @include m(light) {
    background: var(--lk-fill-1);
    color: var(--lk-text-regular);
  }

  @include m(solid) {
    background: var(--lk-color-primary);
    color: var(--lk-color-text-inverse);
  }

  @include m(outline) {
    background: transparent;
    color: var(--lk-text-regular);
    box-shadow: inset 0 0 0 var(--lk-rpx-2) var(--lk-color-border);
  }

  @include when(disabled) {
    opacity: 0.55;
    pointer-events: none;
  }

  @include when(round) {
    border-radius: var(--lk-radius-full);
  }

  @include e(content) {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: inherit;
  }

  @include e(close) {
    font-size: var(--lk-rpx-28);
    line-height: 1;
    padding: var(--lk-rpx-4);
    margin-left: var(--lk-spacing-xs);
    border-radius: var(--lk-radius-sm);
    &:active {
      background: var(--lk-fill-2);
    }
  }
}
