.lk-horizontal-scroll {
  width: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  background: transparent;
  border: 0;
  box-sizing: border-box;

  & ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    & > ::v-deep view:not(:first-child),
    & > ::v-deep text:not(:first-child) {
      margin-left: var(--lk-hs-gap);
    }
  }
}
