@use '../../theme/src/mixins/bem' as *;

@include b(picker-view) {
  height: 560rpx;

  @include e(item) {
    height: 88rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--lk-font-size-base);
    color: var(--lk-color-text);
  }
}
