@use '../../theme/src/mixins/bem' as *;

@include b(overlay) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--lk-overlay-bg, rgba(0, 0, 0, 0.55));
  display: flex;
  align-items: center;
  justify-content: center;
  // 基础样式不带 opacity: 0，由 .lk-transition 控制初始状态
}
